body {	
	margin: auto;
}

div.wrap{
	max-width: 1100px;
	margin: auto;
}

/*---------------HEADER--------------*/
div.header {
	background-color: #E6E6E6;
	margin-bottom: 0em;
}
span.logo {
	width: 8.3em;
	margin: 0;
	float: left;
}

div.title {
	padding: 0.5em 0 0 0;
}

div.title h1{
	float: left;
	padding: 0.7em 0;
}

div.title p {
	font-family: 'Oswald', sans-serif;
	line-height: 1.2em;
}

#town, #subtitle {
	font-size: 0.67em;
	color: #000;
}

#town {
	padding-left: 1em;
}

#main {
	font-size: 1em;
	padding-left: 2.7em;
}

#main a {
	color: #000;
}

#subtitle {
	padding-left: 15.5em;
}

div.header-btns {
	padding: 0.8em 0;
}

div.header-btns a {
	float: right;
}

div.header-btns a img {
	display: inline;
	width: 25px;
	margin: 0.5em 0.6em 0 0;
}

div.header-btns a.connexion {
	background: #22313F;
	font-size: 0.85em;
	color: white;
	padding: 0.6em;
}
 /*---------------MENU------------------*/
 div.nav, div.nav ul {
 	text-align: center;
	margin: auto;
 }

div.nav ul li {
	text-align: center;
	display: inline-block;
	margin: 0 1.2em;
	margin-bottom: 1.5em;
}

div.nav ul li a , div.nav ul li form{
	color: #3D3D3D;
	text-transform: uppercase;
	font-weight:bold;
	font-size: 0.85em;
	padding: 15px 18px 10px 18px;
	text-decoration: none;
	border-bottom: 4px solid #E6E6E6;
	border-bottom:0px solid #E6E6E6;
	-webkit-transition: border .4s ease-in;
    -moz-transition: border .4s ease-in;
    -o-transition: all .4s ease-in;
    transition: border .4s ease-in;
}

.nav ul li a:hover {
	border-bottom: 4px solid #75818B;
	color: #75818B;
}

#search input {
    background: url("../images/loupe_recherche.png") no-repeat 8px 6px #E6E6E6;
    background-size: 15px;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: grey;
    width: 140px;
    padding: 5px 0 6px 30px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
}

/* ----- Fil d'ariane -----*/

div.breadcrumb {
	margin: 2em;
}

div.breadcrumb img{
	width: 20px;
	height: 20px;
}

.pageDisplayed {
	color: #bdc3c7;
}

/* ----- PAGE D'ACCUEIL ----- */

#slide {
	margin-bottom: 1em;
}

div.content h1 {
	text-align: center;
	color: #000;
	font-family: 'Oswald', sans-serif;
	font-size: 1.2em;
}

div.text {
	border-top: 5px dotted #22313C;
	margin-bottom: 1.5em;
	padding: 0.6em 1em;
}

div.text p {
	font-size: 0.85em;
	color: #000;
}

div.title-content {
	margin: auto;
	display: inline;
}

.title-content h2 {
margin: 15px 0 0 0;
	font-family: 'Oswald', sans-serif;
	font-size: 1.1em;
	color: #22313C;
}

.title-content p {
	background: url("../images/sprite_logo_accueil.png") no-repeat;
	width: 50px;
	height: 50px;
	display: inline-block;
	float: left;
}

#sprite1 {
	background-position: left top;
	margin: 0 0 0 36%;
}
#sprite2 {
	background-position: -150px top;
	margin: 2px 10px 0 36%;
}
#sprite3 {
	background-position: -50px top;
	margin: 0 10px 0 36%;
}
#sprite4 {
	background-position: -100px top;
	margin: 0 10px 0 10%;
}
#sprite5 {
	background-position: right top;
	margin: 0 10px 0 20%;
}

.text-content p.paragraph {
	margin-bottom: 1em;
}

.text-content, .text-content-p {
	margin: 40px 0 0 0;
	clear: both;
}

.text-content ul {
	list-style-type: square;
	margin: 5px 0 0 20px;
}

.text-content p {
	margin: 0px;
	max-width: 100%;
}

p.bold {
	color: #22313C;
	font-weight: bold;
	margin-bottom: 0.5em;
}

/*-------CONTAINER------- */
.consultation {
    clear: both;
	font-size:1em;
	line-height: 1.5em;
}
div.consultation h1{
	color: #22313C;
	font-size: 1.65em;
	font-family: 'Oswald', sans-serif;
	border-bottom: 5px dotted #22313C;
	line-height: 1.8em;
	text-align:center;
}
.consultation h2 {
	width: 100%;
	max-width: 350px;
	color: #fff;
	background:#22313C;
	font-size: 20px;
	border: 2px solid #22313C;
	text-align:center;
}
.consultation h3 {
	color: #22313C;
	font-size: 18px;
	font-weight: bold;
}
/*-------LICENCE--------*/
.consultation-title h2{

	width: 350px;
	text-align: center;
	margin: auto;
	margin-top:10px;
	margin-bottom:20px;
	text-align:center;
}
.consultation-degree p {
	
	font-size: 0.85em;
	color: #000;
	margin-bottom: 5px;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;

}

.consultation-degree-description-left{
	float: left;
	font-size: 0.85em;
	margin-top:10px;
	border-left: 3px solid #22313C;
	padding: 10px;
}
.consultation-degree-description-right{
	font-size: 0.85em;
	border-left: 3px solid #22313C;
	margin-top:10px;
	margin-bottom:20px;
	padding: 10px
}

.consultation-degree-description-center li{
	font-size:  0.75em;
	color: #000;
	margin-left: 200px;
	list-style: circle;
}
.consultation-degree-description-center p{
	font-size:  0.75em;
	color: #000;
}
.consultation-degree-image{

	width:210px;
	margin-top:10px;
}
.consultation-contact{

	font-size: 0.75em;
	color: #000;
	width: 250px;
	text-align:right;
	
}
.consultation-contact h3{

	color: #22313C;
	font-size: 1em;
	font-weight: bold;
	text-align:right;
	text-decoration: underline;
	
}
/*-------BUSINESS------- */
.consultation-business{
}
.consultation-business p {
	margin-bottom: 3px;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;

}
.consultation-business li{
	margin-left: 20px;
	list-style: disc;
}

.consultation-business p, .consultation-business ul li {
	font-size: 0.85em;
}

.consultation-business-image{
	margin-top: 20px;
	width:280px;
 }


/* ------ FOOTER ------- */

.footer {
	padding: 0px;
	margin-bottom: 0px;
	background-color: #3d3d3d;
}

.footer div {
	margin-bottom: 0px;
	padding: 1em;
}

.footer h2 {
	text-align: center;
	color: white;
	font-size: 30px;
	margin-bottom: 20px;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
}

.plan-links, .social{
	text-align: center;
}

div.plan-links {
	padding: 0px;
}

.plan-links ul {
	color: white;
	display: inline-block;
	text-align: center;
}

.plan-links li a{
	color: white;
	text-decoration: none;
}

.partner h2 {
	float: right;
	padding-right: 6em;
}

div.partner-logos {
	padding: 0px;
	margin: 0;
	background-color : #535353;
}

#partner-logos {
	margin: auto;
	width: 60%;
}

#partner-logos img {
	margin-bottom: 0px;
	width: 75%;
}

.bottom {
	margin: auto;
	text-align: center;
	background-color: #3d3d3d;
}

.social{
	text-align: center;
	height: 155px;
}

.social ul{
	width: 220px;
	margin: auto;
}

.social li{
	display: inline-block;
}

.social a{
	float: left;
	width: 50px;
	height: 50px;
	background-size: 100px 100px;
}

.social a:hover{
	background-size: 100px 100px;
}

.facebook{
	background: url("../images/sprite_social_network.png") 0 0  no-repeat;
}

.twitter{
	background: url("../images/sprite_social_network.png") no-repeat;
	background-position: -50px 0px;	
}

.google{
	background: url("../images/sprite_social_network.png") no-repeat;
	background-position: 0px -50px;	
}

.rss{
	background: url("../images/sprite_social_network.png") no-repeat;
	background-position: -50px -50px;	
}

.facebook:hover{
	background: url("../images/sprite_social_network_Facebook.png") 0 0  no-repeat;
}
.twitter:hover{
	background: url("../images/sprite_social_network_twitter.png") no-repeat;
	background-position: -50px 0px;
}
.google:hover{
	background: url("../images/sprite_social_network_googleplus.png") no-repeat;
	background-position: 0px -50px;
}
.rss:hover{
	background: url("../images/sprite_social_network_rss.png") no-repeat;
	background-position: -50px -50px;
}

div#arrow-up{
	padding: 0px;
	margin: auto;
	width: 0px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #535353;
}

.bottom{
	padding-top: 5px;
	text-align: center;
}

.bottom a{
	color: white;
}

.bottom p{
	color: #8e8e8e;
	font-size: 13px;
	margin-bottom: 20px;
}

.bottom p:last-child{
	margin-top: 20px;
	margin-bottom: 5px;
	color: white;
}

/*PAGE CONTACT*/
#contact {
	color: #000000;
}

#contact-content {
	font-size: 0.75em;
}

#contact-content , #contact-bank {
	padding: 0;	
}
#contact-bank p, #contact-bank ul li {
	font-size: 0.67em;
}

#contact-content span , #contact-bank span{
	font-weight: bold;
}

#contact-content p+p {
	margin: 20px 0 0 0;
}

#contact>h1 {
	color: #22313C;
	font-size: 1.65em;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	border-bottom: 5px dotted #22313C;
	padding: 0 0 10px 0;
	margin: 0 0 20px 0;
}

#map {
	margin: 20px 0;
}

#map>iframe {
	width: 100%;
}

.upper {
	text-transform: uppercase;
}

.element {
	margin-top: 15px;
}	

/* PAGE CONNEXION */

#login
{
	clear: both;
	color: white;
	margin: auto;
    background-color: #818181;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#818181), to(#606060));
    background-image: -webkit-linear-gradient(top, #818181, #606060);
    background-image: -moz-linear-gradient(top, #818181, #606060);
    background-image: -ms-linear-gradient(top, #818181, #606060);
    background-image: -o-linear-gradient(top, #818181, #606060);
    background-image: linear-gradient(top, #818181, #606060);  
    height: 265px;
    padding: 30px;
    width: 100%;
    max-width: 500px;
}

#login a {
	color: white;
	float: right;	
	font-size: 0.8em;
}

fieldset
{
    border: 0;
    padding: 0;
}

#conn-infos{
	margin-top: 10px;
}


#conn-infos input
{
    background: #f1f1f1 url(../images/login-sprite.png) no-repeat;
    padding: 15px 15px 15px 30px;
    margin: 0 0 10px 0;
    width: 100%; /* 353 + 2 + 45 = 400 */
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

#username
{
    background-position: 5px -2px !important;
}

#password
{
    background-position: 5px -52px !important;
}

#conn-infos input:focus
{ /* couleur entourant l'input lors d'un clic */
    background-color: #fff;
    border-color: #606060;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #606060 inset;
    -webkit-box-shadow: 0 0 0 1px #606060 inset;
    box-shadow: 0 0 0 1px #606060 inset;
}

#actions
{
    margin: 25px 0 0 0;
}

#conn-submit
{		
    background: #FFFFFF url(../images/arrow.png) no-repeat;
    background-position: right;
    background-size: 25px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
    border-width: 1px;
    border-style: solid;
    border-color: #3f3f3f;
    float: right;
    height: 35px;
    padding-right: 20px;
    margin-top: 5px;
    width: 120px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #3f3f3f;
}

#submit:hover,#submit:focus
{		
	background: #bdc3c7 url(../images/arrow.png) no-repeat;
    background-position: right;
    background-size: 25px;
}	

#actions a, #rememberme, #actions label
{  
	padding-top: 5px;
    float: left;
}

#conn-uppertext h1 /* PAGE CONNEXION */
{
	color:	#75818B;
	text-align: left;
	font-size: 2em;
	border-bottom: 1px solid rgba(53,86,129, 0.3);
	line-height: 50px;
	margin-bottom: 20px;
}

#conn-bottomtext{
	width: 100%;
	max-width: 500px;
	border-left: 2px solid #75818B;
	padding: 10px;
	margin-bottom: 20px;
}

#conn-bottomtext h2
{
	color: #75818B;
	font-size: 18px;
	margin-bottom: 10px;
}

#conn-bottomtext h1, #container #conn-uppertext p 
{
	color:	#75818B;
	text-align: left;
	font-size: 2em;
	border-bottom: 1px solid rgba(53,86,129, 0.3);
	line-height: 50px;
	margin-bottom: 20px;
}

#conn-bottomtext h1, #conn-bottomtext p, #container #conn-uppertext p 
{
	padding: 10px;
	text-align: left;
}

/* ------ Page Liste des missions ------*/

div.filterList {
	max-width: 960px;
	width: 100%;
	background-color: #22313F;
	color: #fff;
	height: 45px;
	margin: auto;
	margin-top: 30px;
	padding-top: 20px;
	text-align: center;
}

span.filters {
	margin: 1em;
}
.search-filters {
	padding-top: 4px;
}

.missionList thead{
	max-width: 960px;
	width: 100%;
	margin: auto;
    border-collapse: separate;
    border-spacing: 10px;
    background-color: #3D3D3D;
	color: #FFF;
	position: relative;
}

table {
	width: 100%;
	max-width: 960px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 632px;
}

thead th {
	padding: 20px;
}

tbody td {
	padding: 10px;
	text-align: center;
	background-color: #ced2d7;
	border-width: 1px;
	border-style: ridge;
}

table img {
	width: 30px;
	height: 30px;
}

.nav-table {
	width: 100%;
	padding: 5px;
	height: 20px;
	max-width: 960px;
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
}

.nav-table ul li {
	display: inline;
	margin: 5px;
	font-weight: bold;
}

.nav-table ul li a {
	color: #000;
}

.nav-table ul li a:hover {
	text-decoration: underline;
}

.nav-table ul li button {
	background-color:#3d3d3d;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	border-width: 0px;
	padding:9px 23px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#3d3d3d;
}
.myButton:active {
	position:relative;
	top:1px;
}

li.table-select-page {
	color: #bdc3c7;
}


div.newMission-button {
	text-align: center;
	margin: auto;
	margin-bottom: 10px;
}

div.newMission-button button {
	background-color:#3d3d3d;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	border-width: 0px;
	padding:9px 23px;
	text-decoration:none;
}

div.newMission-form {
	background-color: #3D3D3D;
	padding: 20px;
	width: 50%;
	margin: auto;
	margin-bottom: 20px;
	color: #fff;
}

.newMission-form form {
	display: table;
	margin: auto;
}

div.newMission-form-element {
	display: table-row;
	margin: auto;
}

div.newMission-form-element input, div.newMission-form-element select, div.newMission-form-element label{
	display: table-cell;
	margin: 10px;
}

div.newMission-form-element input, div.newMission-form-element select {
	width: 15em;
}

div.intervalDate input {
	width: auto;
}

input#newMission {
	background: #FFFFFF url(../images/arrow.png) no-repeat;
    background-position: right;
    background-size: 25px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
    border-width: 1px;
    border-style: solid;
    border-color: #3f3f3f;
    height: 35px;
    width: 120px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #3f3f3f;
    margin-top: 20px;
    margin-bottom: 10px;
}

.arrow-up-mission {
	width: 0px;
	margin: auto;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #3D3D3D;
}

/* ------ Page Description mission ------*/

#recap{
	margin: auto;
	margin-top: 30px;
	margin-bottom: 50px;
	width: 100%;
}

#recap h1{
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
	font-weight: bold;
	color: #22313F;
	padding-bottom: 25px;
	width: 100%;
	border-bottom: 3px dotted #22313F;
	border-width : 8px;
	text-align: center;
}

#recap-contents{
	margin: auto;
	margin-top: 30px;
	margin-bottom: 50px;
}

#recap-contents a:hover{
	color: blue;
}

#recap h2{
	margin: auto;
	width: 255px;
	text-align: center;
	padding: 15px;
	font-size: 24px;
	color: white;
	background-color: #22313F;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	font-size: 1.6em;
	margin-bottom: 30px;
}

#recap ul, dl{
	text-align: right;
	width: 25%;
	margin-bottom: 3%;
	margin-left: 15%;
}

#recap li{
	color: #3d3d3d;
	margin-bottom: 10px;
}

#recap dt{
	font-size: 18px;
	color: white;
	background-color: #3d3d3d;
	text-align: center;
	width: 180px;
	padding: 10px;
	margin-left: 15px;
	margin-bottom: 20px;
	margin-left: 48%;
}

#recap dd{
	margin-bottom: 10px;
	color: #3d3d3d;
}

#link{
	text-align: center;
	margin-top: 80px;
	margin-bottom: 10px;
}

#link a{
	color: #3d3d3d;	
}

#link a:hover{
	color: #3d3d3d;
	text-decoration: underline;
}